<h1 class="text-3xl my-6">{{pageTitle}}</h1>
<form class="bg-white p-6 rounded-lg" (ngSubmit)="save()">
  <div class="mb-4">
    <label class="block font-bold mb-2" for="name">Task Name</label>
    <input [formControl]="titleControl"
           class="w-full border border-gray-400 p-2"
           type="text"
           id="name">

  </div>
  <div class="mb-4">
    <label class="block font-bold mb-2" for="price">Description</label>
    <input [formControl]="descriptionControl"
           class="w-full border border-gray-400 p-2"
           type="text"
           id="price">

  </div>
  <div class="mb-4">
    <label class="block font-bold mb-2" for="category">Priority</label>
    <select [formControl]="priorityControl"
            class="w-full border border-gray-400 p-2"
            id="category">
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>

  </div>
  <button
    class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800   font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2  dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600"
    type="submit">
    Save
  </button>
</form>
