<header class="relative bg-white">
  <nav class="mx-auto max-w-7xl">
    <div class="border-b border-gray-200">
      <div class="flex h-16 items-center">
        <div class="ml-8 lg:block lg:self-stretch">
          <div class="flex h-full space-x-8 items-center">
            <a class="color" routerLink="/home" routerLinkActive="text-zinc-600">Home</a>
            <a routerLink="***" routerLinkActive="text-zinc-600">Tasks</a>
            <a routerLink="****" routerLinkActive="text-zinc-600">Login</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>










