<div>
<label class="block font-bold mb-2" for="name">Task Name</label>
<input [(ngModel)]= "obj.title"  name="name"
  class="w-full border border-gray-400 p-2"
  type="text"
  id="name">
</div>

<div class="mb-4">
  <label class="block font-bold mb-2" for="description">Description</label>
  <input [(ngModel)]="obj.description"  name="description"
    class="w-full border border-gray-400 p-2"
    type="text"
    id="description">
</div>

<div class="mb-4">
  <label class="block font-bold mb-2" for="priority">Priority</label>
  <!--
  <input [(ngModel)]="obj.priority" name="priority"
         class="w-full border border-gray-400 p-2"
         type="text"
         id="4priority">-->

  <select id="priority" [(ngModel)]="obj.priority"
    class="w-full border border-gray-400 p-2">


    <option value="High" >High</option>
    <option  value="Medium">Medium</option>
    <option  value="Low">Low</option>
  </select>

</div>
<div class="relative overflow-x-auto">
  <div class="pt-2">
    <button type="button" (click)="addNewTask(obj)"
    class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800   font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2  dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600">
      Add new task
    </button>
  </div>

  <table class="w-full text-sm text-left ">
    <thead class="text-xs  uppercase">
    <tr>
      <th scope="col" class="px-6 py-3">
        Task name
      </th>
      <th scope="col" class="px-6 py-3">
        Task Description
      </th>
      <th scope="col" class="px-6 py-3">
        Task Priority
      </th>
      <th scope="col" class="px-6 py-3">
        Actions
      </th>
    </thead>

    <tbody *ngFor="let task of tasks">
      <tr class="bg-white border-b dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap">
          {{task.title}}
        </th>
        <td class="px-6 py-4">
          {{task.description}}
        </td>
        <td class="px-6 py-4">
          {{task.priority}}
        </td>
        <a [routerLink]="['edit']">
          <button type="button"
          class="mt-2 text-green-700 hover:text-white border border-green-700 hover:bg-green-800   font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2  dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600">Edit</button>
        </a>
        <button (click)="removeTask(task)" type="button"
        class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800  focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 ">Delete </button>
      </tr>
    </tbody>
  </table>
</div>

