<div class="relative overflow-x-auto">
  <div class="pt-2">
  <button type="button" [routerLink]=""
          class=" text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br   font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
    Add new task
  </button>
  </div>
  <table class="w-full text-sm text-left ">
    <thead class="text-xs  uppercase">
    <tr>
      <th scope="col" class="px-6 py-3">
        Task name
      </th>
      <th scope="col" class="px-6 py-3">
        Task Description
      </th>
      <th scope="col" class="px-6 py-3">
        Task Priority
      </th>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap">
        Apple MacBook Pro 17"
      </th>
      <td class="px-6 py-4">
        Silver
      </td>
      <td class="px-6 py-4">
        Laptop
      </td>

    </tr>
    <tr class="bg-white border-b  dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap ">
        Microsoft Surface Pro
      </th>
      <td class="px-6 py-4">
        White
      </td>
      <td class="px-6 py-4">
        Laptop PC
      </td>
    </tr>
    <tr class="bg-white">
      <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap ">
        Magic Mouse 2
      </th>
      <td class="px-6 py-4">
        Black
      </td>
      <td class="px-6 py-4">
        Accessories
      </td>
    </tr>
    </tbody>
  </table>
</div>

