<app-header></app-header>
<div class="mt-2 grid grid-cols-2 grid-flow-col gap-4 h-75">
  <h1 id="greet-text"
    class="text-center text-5xl font-bold bg-gradient-to-r from-gray-700 via-gray-900 to-black inline-block text-transparent bg-clip-text">
    Welcome to the To Do App </h1>
</div>
<form>
  <div>
    <label class="block font-bold mb-2" for="name">Task Name</label>
    <input [(ngModel)]="obj.title"
           [ngModelOptions]="{standalone: true}"
           name="name"
           class="w-64 border border-gray-400 p-2"
           type="text"
           id="name">
  </div>

  <div class="mb-4">
    <label class="block font-bold mb-2" for="description">Description</label>
    <input [(ngModel)]="obj.description"
           [ngModelOptions]="{standalone: true}"
           name="description"
           class="w-64 border border-gray-400 p-2"
           type="text"
           id="description">
  </div>

  <div class="mb-4">
    <label class="block font-bold mb-2 " for="priority">Priority</label>
    <select id="priority"
            [(ngModel)]="obj.priority"
            [ngModelOptions]="{standalone: true}"
            class="w-30 border border-gray-400 p-2">
      <option class="redText" value="High">High</option>
      <option class="yellowText" value="Medium">Medium</option>
      <option class="greenText"  value="Low">Low</option>
    </select>

  </div>
  <div class="relative overflow-x-auto">
    <div class="pt-2">
      <button type="button" (click)="addNewTask(obj)" id="addTask"
              class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800   font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2  dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600">
        Add new task
      </button>

    </div>
  </div>
</form>

<table class="w-full text-sm text-left mt-10 ">
  <thead class="text-xs  uppercase">
  <tr>
    <th scope="col" class="px-6 py-3">
      Task Status
    </th>
    <th scope="col" class="px-6 py-3">
      Task name
    </th>
    <th scope="col" class="px-6 py-3">
      Task Description
    </th>
    <th scope="col" class="px-6 py-3">
      Task Priority
    </th>
    <th scope="col" class="px-6 py-3">
      Actions
    </th>
  </thead>

  <tbody *ngFor="let task of tasks">
  <tr class="bg-white border-b dark:border-gray-700">
    <input type="checkbox" class="ml-10 bg-amber-200 hover:bg-amber-400 cursor-pointer  w-5 h-5 border-3 border-rose-500 rounded-lg checked:bg-green-500 ">
    <td class="task px-6 py-4 font-medium  whitespace-nowrap">
      <p class="font-bold italic"> {{task.title}}</p>
    </td>
    <td class="task px-6 py-4">
      <p class="font-bold italic">  {{task.description}}</p>
    </td>
    <td class="task px-6 py-4">
      <p class="font-bold italic"> {{task.priority}}</p>
    </td>
    <a [routerLink]="['edit',task.id]">
      <button type="button" id="edit"
              class="mt-2 text-green-700 hover:text-white border border-green-700 hover:bg-green-800   font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2  dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600">
        Edit
      </button>
    </a>
    <button (click)="removeTask(task)" type="button" id="delete"
            class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800  focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 ">
      Delete
    </button>
  </tr>
  </tbody>

</table>


