<form class=" mt-12 grid md:grid-rows-1 justify-items-center">
  <h1 class="mt-12 text-center text-4xl font-bold bg-gradient-to-r from-gray-700 via-gray-900 to-black italic text-transparent bg-clip-text">Log In</h1>
  <div class="mt-5">
    <label for="username" class="block mb-2 text-sm font-bold italic">Username</label>
    <input [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" type="text" id="username"
           class=" border border-gray-300 w-48 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
           placeholder="John" required>
  </div>
  <div class="mb-5">
    <label for="password" class="block mb-2  mt-5 text-sm font-bold italic ">Password</label>
    <input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" type="password" id="password"
           class="bg-gray-50 border border-gray-300 w-48  text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
           placeholder="•••••••••" required>
  </div>
  <div class="grid md:grid-rows-1 justify-items-center ">
    <button type="button" (click)="login(user)"
            class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800   font-bold italic rounded-lg text-sm px-5 py-2.5 text-center mr-2   dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600">
      Login
    </button>
    <div class="grid md:grid-rows-1 justify-items-center mt-5 " >
      <h1 class="italic text-lg underline" routerLink="/register">Register new account</h1>
    </div>
  </div>
</form>

